In [14]:
# Crime Paper Presentation

import pandas as pd

In [43]:
# import data from excel file -- data given from author website
db_size_data = pd.read_excel(r'/Users/abbysawyer/Documents/project_datatable.xlsx')

In [44]:
# import data from journal website

In [15]:
crime_stats = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/crime_stats.dta') # for part 2

crime1999 = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/crime1999.dta') # for part 2

dna_stats = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/dna_stats.dta') # for part 2

florida = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/florida.dta') # for part 1

georgia = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/georgia.dta') # for part 1

missouri = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/missouri.dta') # for part 1

montana = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/montana.dta') # for part 1

newyork = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/newyork.dta') # for part 1

northcarolina = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/northcarolina.dta') # for part 1

pennsylvania = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/pennsylvania.dta') # for part 1

police = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/police.dta') # for part 2

prison99_natl = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/prison99_natl.dta') # for part 2

prison99 = pd.read_stata(r'/Users/abbysawyer/Documents/CrimeProject/prison99.dta') # for part 2

In [46]:
# PART 1 DATA WORK -- effect of DNA requirement on Recidivism (likliness to reoffend)

In [47]:
# Step 1 -- predict if characteristics are same/different
    # compare characteristics of convicts before and after DNA req. (table 1 & 2)
    # don't rlly need to do this, just explain it

In [48]:
# Step 2 -- 'OLS' (to test recidivism before expansion)
    # equation 2
        # Pr(recidivate)j = β1 + β2 postj + β3 f (release Date)j + β4 post × f(release Date)j + λstate×year + γmonth + β5 Xj + uj
    # claims this will underestimate the effect so uses different test next

In [49]:
# Step 3 -- 'IV 2SLS Model' (more accurate than previous step)
    # equation 3
        # Pr(recidivate)j = β1 + β2 Pr(DNA required )j + β3 f (release Date)j + β4 Pr(DNA required) × f (release Date)j + λstate×year + γmonth + β4Xj + wj
    # equation 4
        # Pr(DNA required)j = δ1 + δ2 postj + δ3 f (release Date)j + δ4 post × f (release Date)j + λstate×year + γmonth + δ4 Xj + vj
# how to get month? pre and post?

In [50]:
# on page 11 she recenters dates, is there a data file with the law dates?
# OR did it get messed up when going to python?
# what is 'post' variable in data set for equation 4?

In [51]:
# PART 2 DATA WORK -- aggregate effects on crime rates [more policy relevant]

In [52]:
# Step 1 -- constructing simulated instrumental variables
    # predict the # of qualifying offenders using the following equation
    # equation 6
        # predicted Qualifying offenderss, t = ∑j [1999 conviction rates, j × years convicts Includeds, t, j]+ ∑j [1999 Inmate rates, j × I( Inmates Includeds, t, j )]

In [53]:
# Step 2 -- 2SLS IV Regression [does database size effect crime rate?]
    # equation 7
        # crime rates, t = β1 + β2 × profile rates, t + β3 × police per capitas, t + λregion×year + γstate + ws, t

In [54]:
# to get profile rate to use in equation 7
    # equation 8
        # profile rates, t = δ1 + δ2 × predicted Qualifying offenderss, t + δ3 × police per capitas, t + λregion×year + γstate + vs, t

In [55]:
# OTHER THINGS THAT MIGHT BE GOOD TO SHOW
    # summary statistics of states, summary of database size?
    # explain theory behind equation 1
        # E(Benefit) > E(cost) and I(Incarcerated) = 0
    # McCrary test? What is it?
    # Residuals? (Figure 5)

In [62]:
florida.head()

,incarceration,release_date,dna_collected,sample_murder,sample_sexassault,sample_robbery,sample_aggassault,sample_burglary,sample_larceny,sample_vtheft,...,sample_larceny_ever,sample_vtheft_ever,sample_arson_ever,sample_ucrviol_r_ever,sample_ucrprop_ever,age,age_sq,reoffend_3yrs,reoffend_5yrs,state
0,1.0,16284.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,26.872005,722.104675,0.0,0.0,FL
1,1.0,17851.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,25.130732,631.553650,0.0,0.0,FL
2,1.0,17456.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,33.023956,1090.581665,0.0,0.0,FL
3,1.0,13720.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,19.227926,369.713135,1.0,1.0,FL
4,2.0,15461.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,23.994524,575.737183,1.0,1.0,FL

In [69]:
florida['pyt_release_date'] = florida.apply(lambda row: row.release_date * 24 * 3600 + 86400 , axis = 1) # turn stata date string into python (from 1960 as 0 to 1970)

In [89]:
florida = florida.astype({"pyt_release_date": int})
florida.head()

,incarceration,release_date,dna_collected,sample_murder,sample_sexassault,sample_robbery,sample_aggassault,sample_burglary,sample_larceny,sample_vtheft,...,sample_vtheft_ever,sample_arson_ever,sample_ucrviol_r_ever,sample_ucrprop_ever,age,age_sq,reoffend_3yrs,reoffend_5yrs,state,pyt_release_date
0,1.0,16284.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,26.872005,722.104675,0.0,0.0,FL,1407024000
1,1.0,17851.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.130732,631.553650,0.0,0.0,FL,1542412800
2,1.0,17456.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,33.023956,1090.581665,0.0,0.0,FL,1508284800
3,1.0,13720.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,19.227926,369.713135,1.0,1.0,FL,1185494400
4,2.0,15461.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,1.0,1.0,23.994524,575.737183,1.0,1.0,FL,1335916800